#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-btn {
  font-size: 1.0rem;
  font-weight: bold;
  border-radius: 8px;
  margin-left: 20px;
  padding: 10px 20px;
}
