#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.input-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border: 1px solid red;
}

.div-dayscomponents {
  display: flex;
  flex-direction: column;
  justify-content: start;

  border: 1px solid #000;
}


.Input-box {
  display: flex;

  border: 1px solid #000;
}