#root {
  width: auto;
  height: auto;
  margin: 0 auto;
}

.main--div--app {
  width: 90%;
  height: 100vh;
  margin: auto;
}

.main--title {
  width: auto;
  padding-top: 20px;
  text-align: center;
}

.switch--cal--btn {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
  margin-bottom: 20px;
}

.creator--table--liste {
  width: auto;
  height: 80vh;
}

.todolist--div {
  position: relative;
  width: auto;
  height: 60vh;
  border: none;
  border-radius: 20px;
  padding: 10px;
  
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #3564ff #00001b;
}

.main--div--calendar {
  width: auto;
  height: 80vh;
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 0 10px;
}

.div--calendar {
  width: 100%;
  height: 80vh;

  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #3564ff #00001b;
}