#root {
  /* max-width: 1800px; */
  width: 100%;
  margin: 0 auto;
}

.main--div--app {
  width: 90%;
  margin: auto;
}

.main--title {
  width: 100%;
  padding-top: 20px;
  text-align: center;
}

.switch--cal--btn {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.main--div--calendar {
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: start;
  justify-content: center;
}

.div--calendar {
  width: 100%;
}