:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 600;

  color: aqua;
  background-color: #202020;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

h1 {
  font-size: 2.2em;
  color: #007cff;
  margin: auto;
}

h2 {
  width: 100%;
  font-size: medium;
  margin: 10px auto;
  color: orange;
}

h3 {
  font-size: 2.0rem;
  text-align: center;
  color: #007cff;
}

h6 {
  margin: auto;
  color: orange;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: #3564ff;
  color: #f5f5f5;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: #003cff;
  box-shadow: 0 0 0 #001088;
}

button:active {
  background-color: #688bff;
}

.custom-btn {
  font-size: 1.0rem;
  font-weight: bold;
  border-radius: 8px;
  padding: 10px 20px;
}

.delete--btn {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: red;
  /* margin-top: 50%; */
  z-index: 1;
}

.delete--btn:hover {
  background-color: rgb(204, 0, 0);
}

.delete--btn:active {
  background-color: rgb(255, 70, 70);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
