:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 600;

  color: #f9fafb;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

h1 {
  font-size: 2.2em;
  /*color: rgb(78, 122, 255);*/
  color: #38bdf8;
  margin: auto;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: royalblue;
  color: #f5f5f5;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: blue;
  box-shadow: 0 0 0 #001088;
}

button:active {
  background-color: skyblue;
}

.custom-btn {
  font-size: 1.0rem;
  font-weight: bold;
  border-radius: 8px;
  padding: 10px 20px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
