:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 600;

  color: #333;
  background-color: #f5f5f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.2em;
}

label {
  margin-bottom: 10px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: royalblue;
  box-shadow: 0 0 7px #a1a1a1;
  color: #f5f5f5;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: blue;
  box-shadow: 0 0 0 #a1a1a1;
}

button:active {
  background-color: skyblue;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
