:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 600;

  color: #87cefa;
  background-color: #202020;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

h1 {
  margin: auto;
  font-size: 2.4rem;
  font-weight: bold;
  background: linear-gradient(0deg, #3564ff, #87cefa);
  background-clip: text; 
  -webkit-background-clip: text;
  /* -webkit-text-fill-color: transparent; */
  color: transparent;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

h2 {
  width: 100%;
  font-size: medium;
  margin: 10px auto;
  color: #ffa500;
}

h3 {
  font-size: 2.0rem;
  text-align: center;
  background: linear-gradient(0deg, #3564ff, #87cefa);
  background-clip: text; 
  -webkit-background-clip: text;
  /* -webkit-text-fill-color: transparent; */
  color: transparent;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

h4 {
  color: #ffa500;
}

h6 {
  margin: auto;
  color: #ffa500;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background: linear-gradient(0deg, 
    rgba(53, 100, 255, 1) 10%, 
    rgba(135, 206, 250, 1) 90%);
  color: #f5f5f5;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background: rgba(53, 100, 255, 1);
  box-shadow: 0 0 0 #001088;
}

button:active {
  background: rgba(135, 206, 250, 1);
}

.custom-btn {
  font-size: 1.0rem;
  border-radius: 8px;
  padding: 10px 20px;
}

.delete--btn {
  position: relative;
  width: 30px;
  height: 30px;
  background: linear-gradient(0deg, 
    rgba(255, 0, 0, 1), 
    rgba(255, 165, 0, 1));
  z-index: 1;
}

.delete--btn:hover {
  background: rgba(255, 0, 0, 1);
}

.delete--btn:active {
  background: rgba(255, 165, 0, 1);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
