.checkbox--lbl {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: small;
  cursor: pointer;
  margin-bottom: 10px;
}

.checkbox--lbl:hover {
  color: #009dff;
}

.checkbox--lbl:active {
  color: #334155;
}

.checkbox--input {
  margin-right: 10px;
  cursor: pointer;
}
