.div--day {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 50%;
}

.checkday--span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    font-size: 0.7rem;
    font-weight: bold;
    color: #ffa500;
    border: none;
    margin-top: 10px;
}

.select--day {
    position: absolute;
    font-size: 14px;
    color: #87cefa;
    background-color: #00002f;
    border: none;
    border-radius: 7px;
    box-shadow: 0 0 7px #4169e180;
    cursor: pointer;

    margin-top: 10px;
    margin-left: 12px;
    padding: 10px 5px;
}

option {
    background-color: #00002f;
    color: #87cefa;
    border: 1.5px solid #334155;
    border-radius: 7px;
    padding: 5px 7px;
}