.div--day {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 50%;
}

.checkday--span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    font-size: 0.7rem;
    font-weight: bold;
    color: #ffa500;
    border: none;
    margin-top: 10px;
}