.form {
  width: 100%;
}

.daycomp-box {
  width: auto;
  background-color: #00002f;
  border: none;
  border-radius: 7px;
  box-shadow: 0 0 7px #4169e180;

  margin: 0 10px;

  /* border: 1px solid yellowgreen; */
}

.input-button-container {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  /* border: 3px solid yellowgreen; */
}

.input-button-textarea {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  /* border: 3px solid yellowgreen; */
}

/* 1 */
.input-button-client {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 20;
}

/* 2 */
.input-button-mail {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 30;
}

/* 3 */
.input-button-phone {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 40;

  /* border: 1px solid coral; */
}

.textarea--editable {
  width: 80%;
  font-size: 12px;
  font-weight: normal;
  color: #87cefa;
  background-color: #00002f;
  border: 1.5px solid #334155;
  border-radius: 12px;
  outline: none;
  resize: none;
  appearance: none;
  transition: 
    border-color 0.25s ease,
    box-shadow 0.25s ease,
    background-color 0.25s ease;

  /* border: 1px solid coral; */
}

/* Style du scroll pour Webkit (Chrome, Safari) */
.textarea--editable::-webkit-scrollbar {
  width: 10px;
}

.textarea--editable::-webkit-scrollbar-thumb {
  background-color: #0059ff;
  border-radius: 4px;
}

.textarea--editable::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Style du scroll pour Firefox */
.textarea--editable {
  scrollbar-color: #0059ff #111;
  scrollbar-width: thin;
}

.textarea--editable:focus {
    border-color: #38bdf8;
    box-shadow: 0 0 0 4px rgba(56, 189, 248, 0.2);
}

.textarea--editable:hover {
    border-color: #475569;
}

.textarea--editable::placeholder {
    color: rgba(135, 206, 250, 0.5);
}


.input--editable {
  width: 80%;
  padding: 7px;
  text-align: center;
  font-size: 16px;
  color: #87cefa;
  background-color: #00002f;
  border: 1.5px solid #334155;
  border-radius: 12px;
  outline: none;
  transition: 
    border-color 0.25s ease,
    box-shadow 0.25s ease,
    background-color 0.25s ease;
}

.input--editable:focus {
    border-color: #38bdf8;
    box-shadow: 0 0 0 4px rgba(56, 189, 248, 0.2);
}

.input--editable:hover {
    border-color: #475569;
}

span {
  width: 80%;
  height: auto;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
}

S {
  width: 80%;
  height: auto;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}

.div--btn--submit {
  position: relative;
  width: 20%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modify-btn {
  position: absolute;
  width: 30px;
  height: 30px;
}