h3 {
  width: 100%;
  text-align: center;
  margin: auto;
  border-bottom: 1px solid rgba(65, 105, 225, 0.2);
}

.form {
  width: 100%;
}

.daycomp-box {
  width: 100%;
  background-color: #0f172a;
  border: none;
  border-radius: 7px;
  box-shadow: 0 0 7px #4169e180;
}

.input-button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.input-button-textarea {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.input-button-client {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.modify-btn {
  width: 40px;
  height: 40px;
}