h3 {
  width: 100%;
  margin: auto;
  border-bottom: 1px solid rgba(65, 105, 225, 0.2);
}

.form {
  width: 100%;

  /* border: 10px solid black; */
}

.daycomp-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-color: rgba(65, 105, 225, 0.1);
  border: none;
  border-radius: 7px;
  box-shadow: 0 0 7px rgba(65, 105, 225, 0.5);

  border: 1px solid red;
}

.input-button-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  border: 3px solid red;
}

.input-button-textarea {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  border: 3px solid pink;
}

.modify-btn {
  width: 40px;
  height: 40px;
}