.form {
  width: 100%;
}

.daycomp-box {
  width: 100%;
  background-color: #0f172a;
  border: none;
  border-radius: 7px;
  box-shadow: 0 0 7px #4169e180;
}

.title--btn--edit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title--box {
  width: 100%;
  text-align: center;
  margin: auto;
  border-bottom: 1px solid rgba(65, 105, 225, 0.2);

  /* border: 1px solid magenta; */
}

.div--btn--client {
  position: relative;
  width: 25%;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  /* border: 1px solid yellow; */
}

.mini-btn {
  width: 40px;
  height: 20px;
  border-radius: 3px;
}

.input-button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  /* border: 1px solid red; */
}

.input-button-textarea {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* 1 */
.input-button-client {
  position: relative;
  width: 100%;
  /* width: 15.75%; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1;

  /* border: 1px solid coral; */
}

/* 2 */
.input-button-mail {
  position: relative;
  width: 100%;
  /* width: 15.75%; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1;

  /* border: 1px solid coral; */
}

/* 3 */
.input-button-phone {
  position: relative;
  width: 100%;
  /* width: 15.75%; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 10;

  /* border: 1px solid coral; */
}

.textarea--editable {
  width: 77%;

  color: #87cefa;

  background: #0f172a;

  border: 1.5px solid #334155;
  border-radius: 12px;
  outline: none;
  transition: 
      border-color 0.25s ease,
      box-shadow 0.25s ease,
      background-color 0.25s ease;
}

.input--editable {
  width: 75%;
  padding: 7px 7px;
  font-size: 16px;
  color: #87cefa;
  background: #0f172a;
  border: 1.5px solid #334155;
  border-radius: 12px;
  outline: none;
  transition: 
      border-color 0.25s ease,
      box-shadow 0.25s ease,
      background-color 0.25s ease;
}

span {
  width: 80%;
  height: auto;
  text-align: center;

  /* border: 1px solid salmon; */
}

.div--btn--submit {
  position: relative;
  width: 20%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  /* border: 1px solid yellow; */
}

.modify-btn {
  position: absolute;
  width: 30px;
  height: 30px;
}