.priority--container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 50%;
}

.priority--select {
    position: absolute;
    font-size: 16px;
    color: #87cefa;
    background-color: #00002f;
    border: none;
    border-radius: 7px;
    box-shadow: 0 0 7px #4169e180;
    cursor: pointer;
    padding: 10px 5px;
    z-index: 100;
}

option {
    font-size: 16px;
    background-color: #00002f;
    color: #87cefa;
    border: 1.5px solid #334155;
    border-radius: 7px;
    padding: 5px 7px;
}

.priority--span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    font-size: 0.7rem;
    font-weight: bold;
    color: #ffa500;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
}