.priority--container {
    width: auto;
    border: none;
    height: 50%;
}

.priority--field {
    width: auto;
}

select {
    position: relative;
    font-size: 16px;
    color: aqua;
    background-color: #0f172a;;
    border: none;
    border-radius: 7px;
    box-shadow: 0 0 7px #4169e180;;
    padding: 10px 5px;
}

option {
    font-size: 16px;
    background-color: #0f172a;;
    color: aqua;
    border: 1.5px solid #334155;
    border-radius: 7px;
    padding: 5px 7px;
}

.priority-btn {
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 4px;
    padding: 5px 10px;
}