.creation-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.creation-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.input-creation {
  font-size: 1.0rem;
  margin-right: 10px;
  padding: 10px 7px;
}

.checkbox-lbl-input {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}