h3 {
  margin: auto;

  border: 1px solid #000;
}

.input-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border: 1px solid #000;
}

.input-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border: 1px solid red;
}

.save-btn {
  width: 40px;
  height: 40px;
  background-color: green;
}

.save-btn:hover {
  background-color: rgb(0, 74, 0);
}

.save-btn:active {
  background-color: rgb(104, 255, 104);
}

.modify-btn {
  width: 40px;
  height: 40px;
}

.delete-btn {
  width: 40px;
  height: 40px;
  background-color: red;
}

.delete-btn:hover {
  background-color: rgb(204, 0, 0);
}

.delete-btn:active {
  background-color: rgb(255, 70, 70);
}