.creation--container {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.creation-input-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.checkbox-lbl-input {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  padding: 0 20px;
  padding-bottom: 10px;
  padding-top: 15px;

  background-color: #0f172a;
  border: none;
  border-radius: 7px;
  box-shadow: 0 0 7px #38bdf8;
}

.checkbox-lbl-input:hover {
  box-shadow: 0 0 0 #38bdf8;
}

.creation--btn--div {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}