.creation-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.creation-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.checkbox-lbl-input {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 0 20px;
  padding: 0 20px;
  padding-bottom: 10px;
  padding-top: 15px;
  background-color: #eeeeee;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 7px #c1c1c1;
}

.checkbox-lbl-input:hover {
  box-shadow: 0 0 0 #c1c1c1;
}