.creation--container {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
  margin-bottom: 20px;
  animation: view-effect 1.0s ease 0s forwards;
}

.creation--input--checkbox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.creation-input-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.checkbox-lbl-input {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 -10px;
  margin-top: 20px;
  padding: 0 20px;
  padding-bottom: 5px;
  padding-top: 15px;
  background-color: #00002f;
  border: 1px solid transparent;
  border-radius: 7px;
  box-shadow: 0 0 7px #38bdf8;
  box-sizing: border-box;
  transition: 
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

.checkbox-lbl-input:hover {
    border-color: #475569;
}

.creation--btn--div {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.disable-btn {
  font-size: 1.0rem;
  font-weight: bold;
  border-radius: 8px;
  padding: 10px 20px;
  background: #696969;
  color: #8f8f8f;
  cursor: not-allowed;
}

.disable-btn:hover {
  background: #696969;
  color: #8f8f8f;
}

.disable-btn:active {
  background: #696969;
  color: #8f8f8f;
}