.creation--container {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.creation--input--checkbox {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.creation-input-container {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.checkbox-lbl-input {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin: 0 -10px;
  margin-top: 20px;
  padding: 0 20px;
  padding-bottom: 5px;
  padding-top: 15px;

  background-color: #0f172a;
  border: none;
  border-radius: 7px;
  box-shadow: 0 0 7px #38bdf8;
  box-sizing: border-box;
}

.checkbox-lbl-input:hover {
  box-shadow: 0 0 0 #38bdf8;
}

.creation--btn--div {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.disable-btn {
  font-size: 1.0rem;
  font-weight: bold;
  border-radius: 8px;
  padding: 10px 20px;
  background: #696969;
  color: #8f8f8f;
}

.disable-btn:hover {
  background: #696969;
  color: #8f8f8f;
}

.disable-btn:active {
  background: #696969;
  color: #8f8f8f;
}