.div--fetch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.p--data {
    font-size: 1.6rem;
    color: orange;
    padding: 20px;
    background: 000;
    border: 1px dashed orange;
    border-radius: 7px;
}

.div--todo {
    width: 90%;

    background-color: #252525;
    border: none;
    border-radius: 20px;

    padding: 20px;
}

.ul--fetch {
    padding-left: 20px;
}

.todo--container--fetch {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

li {
    width: 100%;
    font-size: smaller;
    margin-left: 15px;
}

hr {
    border-bottom: 1px solid rgba(0, 255, 255, 0.3);
}
