.div--fetch {
    width: auto;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.div--todo {
    width: 90%;
    background-color: #00002f;
    border: none;
    border-radius: 20px;
    padding: 20px;
}

.div--download {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

a {
  text-align: center;
  text-decoration: none;
  color: #f5f5f5;
  background: #0059ff;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 10px 20px;
}

a:hover {
  color: #87cefa;
}

.ul--fetch {
    padding-left: 20px;
}

.todo--container--fetch {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

li {
    width: 100%;
    font-size: smaller;
    font-weight: normal;
    margin-left: 15px;
}

hr {
    border: none;
    border-bottom: 1px solid #87cefa;
    border-radius: 50px;
}