.div--fetch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 2.0rem;
    text-align: center;
}

h3 {
    font-size: 1.4rem;
    text-align: center;
}

p {
    border: 1px solid red;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid pink;
}

li {
    font-size: 1.2rem;
    border: 1px solid blue;
}