.main--div--calendar {
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div--calendar {
    width: 100%;
}

.table--calendar {
    width: 100%;
}

table, th {
    border: none;
    box-shadow: 0 0 7px #38bdf8;
}

th {
    font-size: 1.4rem;
    font-weight: bold;
    color: #007cff;

    padding: 10px;
}

th, tr {
    width: 12.5%;
}

td {
    text-align: center;
    padding: 20px;
}

tr:nth-child(even) {
    background-color: #0f172a;
}