.h3--table {
    font-size: 1.0rem;
    font-weight: bold;

    /* border: 1px solid yellowgreen; */
}

.table--todos {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    background-color: #00002f;

    border: none;
    border-radius: 20px;
    /* box-shadow: 0 0 7px #38bdf8; */
}

.div--title--projects {
    width: 27.5%;
}

.div--title--tasks {
    width: 22.5%;
}

.div--title--delays {
    width: 22.5%;
}

.div--title--clients {
    width: 27.5%;
}

