.h3--table {
    font-size: 1.0rem;
    font-weight: bold;
}

.table--todos {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    background-color: #00002f;
    border: none;
    border-radius: 20px;
    margin: 0 10px;
    animation: view-effect 1.0s ease 0s forwards;
}

.div--title--projects {
    width: 27.5%;
}

.t-one {
    width: auto;
    margin-left: 5%;
}

.div--title--tasks {
    width: 23.5%;
}

.div--title--delays {
    width: 23.5%;
}

.div--title--clients {
    width: 25.5%;
}

.t-four {
    width: auto;
    margin-right: 15%;
}