.table--calendar {
    width: 100%;
}

.calendar--title {
    color: #87cefa;
}

.week-th {
    background: linear-gradient(0deg, #3564ff, #87cefa);
    background-clip: text; 
    -webkit-background-clip: text;
    /* -webkit-text-fill-color: transparent; */
    color: transparent;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

table, th, td {
    border: none;
    box-shadow: 0 0 7px #38bdf8;
    
    /* border: 10px solid violet; */
}

th {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 10px;
}

tr, th {
    width: 10%;
}

td {
    width: auto;
    /* text-align: center; */
    border: none;

    /* border: 1px solid violet; */
}

tr:nth-child(even) {
    background-color: #00002f;
}

.week--indicator {
    position: relative;
    top: -5px;
    left: 5px;
    color: yellow;
}

.calendar--todo {
    /* width: auto; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
    color: #333;
    background-color: #87cefa;
    border: 1px solid transparent;
    border-bottom: 1px solid #000;
    border-right: 1px solid rgba(0, 255, 255, 0.7);
    border-left: 3px solid #3564ff;
    cursor: pointer;
    padding: 3px 2px;
}

.btn--visible {
    font-size: 12px;
    font-weight: bold;
    color: #0059ff;
}

.btn--visible:hover {
    color: #0000ff;
}

.btn--visible:active {
    color: #0099ff;
}

.div--change--delay {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.input--delay {
    width: 75%;
    font-size: 14px;
    color: #87cefa;
    background-color: #000;
    border: 1.5px solid #334155;
    border-radius: 12px;
    outline: none;
    padding: 7px;
}

.div--btn--validate {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn--validate {
    background-color: #00b300;
    border: none;
    border-radius: 100%;
    box-shadow: 0 0 0 #111;
    color: #fff;
    padding: 5px;
    transform: scale(1.0);
    transition: background-color 0.25s ease, transform 0.25s ease;
}

.btn--validate:hover {
    background-color: #00cc00;
    box-shadow: 0 0 10px #383838;
    transform: scale(1.05);
}

.btn--validate:active {
    background-color: #009900;
    box-shadow: 0 0 0 #111;
    transform: scale(0.95);
}