h3 {
  width: 100%;
  margin: auto;
  border-bottom: 1px solid rgba(65, 105, 225, 0.2);
}

h5 {
  text-align: left;
  margin: auto;
  margin-left: 10px;
}

.main--div {
  /* border: 10px solid red; */
}

.div--day {
  text-align: center;
}

.container--todo {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  border-radius: 20px;
  box-shadow: 0 0 7px #c1c1c1;

  /* border: 10px solid orange; */
}

/* .input-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

} */

.priority--div {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;

  /* border: 10px solid black; */
}

.date-project-liste-delay {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  /* border: 10px solid green; */
}

/* .main-div-daycomp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 7px;
  box-shadow: 0 0 7px rgba(65, 105, 225, 0.5);
} */


.input-box-daycomp {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: auto;

  /* border: 10px solid cyan; */
}

.daycomp-textarea {
  /* border: 10px solid orangered; */
}

.client-mail-phone {
  width: 20%;

    display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid rgba(65, 105, 225, 0.2);
  border-radius: 7px;

  margin: auto;
}

/* .input-button-client {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  border: 10px solid dimgrey;
} */

.btn-params {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.div--crossout--delete {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cross--out--btn {
  width: 40px;
  height: 40px;
  background-color: green;
}

.cross--out--btn:hover {
  background-color: rgb(0, 74, 0);
}

.cross--out--btn:active {
  background-color: rgb(104, 255, 104);
}

.delete--btn {
  width: 40px;
  height: 40px;
  background-color: red;
  margin-top: 50%;
}

.delete--btn-client {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  background-color: red;
}

.delete--btn:hover {
  background-color: rgb(204, 0, 0);
}

.delete--btn:active {
  background-color: rgb(255, 70, 70);
}