.main--div {
  border: none;
  border-radius: 20px;
}

.div--day {
  text-align: center;
}

.container--todo {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #0f172a;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 7px #38bdf8;

  /* border: 10px solid orange; */
}

.priority--div {
  width: 10%;
  display: flex;
  
  flex-direction: column;

  align-items: center;

  justify-content: space-between;

  /* border: 10px solid #fff; */
}

.date-project-liste-delay {
  width: 67.5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* border: 10px solid green; */
}

/* Animation */
.client--mail--phone {
  width: 17.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(65, 105, 225, 0.2);
  border-radius: 7px;
  margin: auto;
}

.div--crossout--delete {
  position: relative;
  width: 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cross--out--btn {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: green;
  z-index: 2;
}

.cross--out--btn:hover {
  background-color: rgb(0, 74, 0);
}

.cross--out--btn:active {
  background-color: rgb(104, 255, 104);
}

.delete--btn {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: red;
  /* margin-top: 50%; */
  z-index: 1;
}

.delete--btn:hover {
  background-color: rgb(204, 0, 0);
}

.delete--btn:active {
  background-color: rgb(255, 70, 70);
}