.main-div-daycomp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-color: #4169e11a;
  border: none;
  border-radius: 7px;
  box-shadow: 0 0 7px rgba(65, 105, 225, 0.5);
}

.div-day-daycomp {
  width: 10%;
}

h3 {
  margin: auto;
  border-bottom: 1px solid rgba(65, 105, 225, 0.2);
}

h5 {
  text-align: left;
  margin: auto;
  margin-left: 10px;
}

.input-box-daycomp {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: auto;

  border: 10px solid cyan;
}

.daycomp-box {
  /* width: 15%; */
  background-color: rgba(65, 105, 225, 0.1);
  border: none;
  border-radius: 7px;
  box-shadow: 0 0 7px rgba(65, 105, 225, 0.5);

  border: 10px solid orange;

}

.daycomp-textarea {
  border: 10px solid orangered;
}

.daycomp-box-client {
  background-color: rgba(65, 105, 225, 0.1);
  border: none;
  border-radius: 7px;
  box-shadow: 0 0 7px rgba(65, 105, 225, 0.5);
  margin: auto;

  border: 10px solid salmon;
}

.input-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.input-button-client {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.btn-params {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.save-btn {
  width: 40px;
  height: 40px;
  background-color: green;
}

.save-btn-client {
  width: 30px;
  height: 30px;
  background-color: green;
}

.save-btn:hover {
  background-color: rgb(0, 74, 0);
}

.save-btn:active {
  background-color: rgb(104, 255, 104);
}

.modify-btn {
  width: 40px;
  height: 40px;
}

.modify-btn-client {
  width: 30px;
  height: 30px;
  margin-left: 5px;
}

.delete-btn {
  width: 40px;
  height: 40px;
  background-color: red;
}

.delete-btn-client {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  background-color: red;
}

.delete-btn:hover {
  background-color: rgb(204, 0, 0);
}

.delete-btn:active {
  background-color: rgb(255, 70, 70);
}

.div-btndelete-project {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}