.main--div {
  border: none;
  height: 90px;
  border-radius: 20px;
  margin-bottom: 20px;
  animation: view-effect 1.0s ease 0s forwards;
}

.container--todo {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00002f;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 7px #38bdf8;

  /* border: 3px solid orange; */
}

.day--priority {
  width: 5%;
  height: 100%;

  /* border: 1px solid yellow; */
}

.project-liste-delay {
  /* width: 67.5%; */
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  /* border: 1px solid mediumspringgreen; */
}

.absolute--div {
  position: relative;
  width: 20%;
}

@keyframes client-open {
  from {
    opacity: 0
  } 
  to {
    opacity: 1;
  }
}

@keyframes client-close {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.client--mail--phone {
  position: absolute;
  width: 100%;
  /* width: 20%; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.client--mail--phone.is-open {
  visibility: visible;
  animation: client-open 0.5s ease-in-out forwards;
}

.client--mail--phone.is-close {
  animation: client-close 0.5s ease-in-out forwards;
}

.div--hidden--clientMailPhone {
  position: absolute;
  width: 100%;
  /* width: 20%; */
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.span--client--mail--phone {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00002f;
  border: none;
  border-radius: 7px;
  box-shadow: 0 0 7px #4169e180;
  cursor: pointer;
  padding: 8px 0;

  /* border: 1px solid lightgreen; */
}

.span--client--mail--phone.hide { 
  visibility: hidden;
}

.span--client--mail--phone.show { 
  /* visibility: visible; */
  animation: client-open 0.5s ease-in-out forwards;
}

.div--crossout--delete {
  position: relative;
  width: 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  /* border: 1px solid orangered; */
}

.cross--out--btn {
  width: 30px;
  height: 30px;
  background-color: #00b300;
}

.cross--out--btn:hover {
  background-color: #00cc00;
}

.cross--out--btn:active {
  background-color: #00ff00;
}
