h2 {
  width: 100%;
  margin: 10px auto;
}

/* h5 {
  text-align: left;
  margin: auto;
  margin-left: 10px;
} */

.main--div {
  border: none;
  border-radius: 20px;
}

.div--day {
  text-align: center;
}

.container--todo {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 7px #4169e180;

  /* border: 10px solid orange; */
}

.priority--div {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;


  /* border: 10px solid black; */
}

.date-project-liste-delay {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  /* border: 10px solid green; */
}

.client--mail--phone {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(65, 105, 225, 0.2);
  border-radius: 7px;
  margin: auto;

}

.div--crossout--delete {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cross--out--btn {
  width: 40px;
  height: 40px;
  background-color: green;
}

.cross--out--btn:hover {
  background-color: rgb(0, 74, 0);
}

.cross--out--btn:active {
  background-color: rgb(104, 255, 104);
}

.delete--btn {
  width: 40px;
  height: 40px;
  background-color: red;
  margin-top: 50%;
}

.delete--btn:hover {
  background-color: rgb(204, 0, 0);
}

.delete--btn:active {
  background-color: rgb(255, 70, 70);
}