.main--div {
  border: none;
  height: 90px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.container--todo {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* background-color: #0f172a; */
  background-color: #00002f;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 7px #38bdf8;

  /* border: 3px solid orange; */
}

.priority--div {
  width: 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  /* border: 1px solid yellow; */
}

.date-project-liste-delay {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  /* border: 10px solid green; */
}

.client--mail--phone {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(65, 105, 225, 0.2);
  border-radius: 7px;
  margin: auto;
}

.div--crossout--delete {
  position: relative;
  width: 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.cross--out--btn {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: green;
  z-index: 2;
}

.cross--out--btn:hover {
  background-color: rgb(0, 74, 0);
}

.cross--out--btn:active {
  background-color: rgb(0, 181, 0);
}
